In [115]:
import pandas as pd
import numpy as np
import os
import sys
from sortedcontainers import SortedDict
import matplotlib.dates as md
import matplotlib.pyplot as plt
from datetime import datetime, tzinfo, timedelta
df = pd.read_table('03_SS_20210109.LOG', sep = '\'')
df

,### HEADER for file,data.log,; Device: c0:98:e5:42:01:03
0,### CHARGING STATUS: PLUGGED IN and NOT CHARGI...,NaN,NaN
1,### MOTION CHANGE: STATIONARY; Timestamp: 1610...,NaN,NaN
2,### BATTERY VOLTAGE: 4208 mV; Timestamp: 16101...,NaN,NaN
3,### BATTERY VOLTAGE: 4189 mV; Timestamp: 16101...,NaN,NaN
4,### BATTERY VOLTAGE: 4202 mV; Timestamp: 16101...,NaN,NaN
...,...,...,...
49760,1610217560\tc0:98:e5:42:01:06\t000525,NaN,NaN
49761,1610217561\tc0:98:e5:42:01:06\t000548,NaN,NaN
49762,### MOTION CHANGE: IN MOTION; Timestamp: 16102...,NaN,NaN
49763,1610217562\tc0:98:e5:42:01:06\t000625,NaN,NaN
49764,1610217563\tc0:98:e5:42:01:06\t000497,NaN,NaN

In [134]:
mot = []
times = []
recording_device = 0
logfile = '03_SS_20210109.LOG'
def find_motion(data):
    with open(logfile) as f:
        for line in f:
            if ((line.find('HEADER') != -1) and (line.find('Device: ') != -1)):
                recording_device = line[(line.find('Device: ')+8):].rstrip('\n')
            elif (line[0] == '#') and (line.find('MOTION CHANGE: ') != -1) and (line.find('Timestamp: ') != -1):
                times.append(int(line[(line.find('Timestamp: ')+11):].rstrip('\n')))
                mot.append(1 if (line[(line.find('MOTION CHANGE: ')+15):line.find('; ')] == 'IN MOTION') else 0)
            elif (line.find('HEADER') != -1) and (line.find('Device: ') != -1) and (line.find('Timestamp: ') != -1):
                recording_device = line[(line.find('Device: ')+8):line.find(', Date:')]
                timestamp = int(line[(line.find('Timestamp: ')+11):].rstrip('\n'))
                logfile_date = datetime.utcfromtimestamp(timestamp)
        d = {'Timestamp': times, 'Motion': mot, 'Device': recording_device}
        d = pd.DataFrame(d)
        return d

In [135]:
m = find_motion(logfile)
m

       Timestamp  Motion             Device
0     1610172121       0  c0:98:e5:42:01:03
1     1610174287       1  c0:98:e5:42:01:03
2     1610174295       0  c0:98:e5:42:01:03
3     1610174299       1  c0:98:e5:42:01:03
4     1610174304       0  c0:98:e5:42:01:03
...          ...     ...                ...
2475  1610217509       1  c0:98:e5:42:01:03
2476  1610217543       0  c0:98:e5:42:01:03
2477  1610217544       1  c0:98:e5:42:01:03
2478  1610217548       0  c0:98:e5:42:01:03
2479  1610217561       1  c0:98:e5:42:01:03

[2480 rows x 3 columns]

In [136]:
m.to_csv('03_motions.csv', index = False)

In [137]:
logfile = '06_ZS_20210109.LOG'
n = find_motion(logfile)
n

       Timestamp  Motion             Device
0     1610172121       0  c0:98:e5:42:01:06
1     1610174287       1  c0:98:e5:42:01:06
2     1610174295       0  c0:98:e5:42:01:06
3     1610174299       1  c0:98:e5:42:01:06
4     1610174304       0  c0:98:e5:42:01:06
...          ...     ...                ...
4908  1610216672       0  c0:98:e5:42:01:06
4909  1610216804       1  c0:98:e5:42:01:06
4910  1610216811       0  c0:98:e5:42:01:06
4911  1610217335       1  c0:98:e5:42:01:06
4912  1610217339       0  c0:98:e5:42:01:06

[4913 rows x 3 columns]

In [138]:
n.to_csv('06_motions.csv', index = False)

In [139]:
logfile = '07_VS_20210109.LOG'
o = find_motion(logfile)
o

       Timestamp  Motion             Device
0     1610172121       0  c0:98:e5:42:01:07
1     1610174287       1  c0:98:e5:42:01:07
2     1610174295       0  c0:98:e5:42:01:07
3     1610174299       1  c0:98:e5:42:01:07
4     1610174304       0  c0:98:e5:42:01:07
...          ...     ...                ...
6420  1610217357       1  c0:98:e5:42:01:07
6421  1610217361       0  c0:98:e5:42:01:07
6422  1610217403       1  c0:98:e5:42:01:07
6423  1610217406       0  c0:98:e5:42:01:07
6424  1610217408       1  c0:98:e5:42:01:07

[6425 rows x 3 columns]

In [140]:
o.to_csv('07_motions.csv', index = False)